<template>


    <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="navbar-item">
                                <a class="button is-white is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <nuxt-link to="/">daviddsp</nuxt-link>
                                </a>
                        </span>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            
                            <span class="navbar-item">
                                <a class="button is-white is-outlined">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
                                    <nuxt-link to="/about">About</nuxt-link>                                
                                </a>
                            </span>
                            <!-- <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Documentation</span>
                                </a>
                            </span> -->
                            <!-- <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://github.com/dansup/bulma-templates/blob/master/templates/landing.html">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                    <span>View Source</span>
                                </a>
                            </span> -->
                        </div>
                    </div>
                </div>
            </nav>
            </div>
</template>
<script>
export default {
    
}
</script>
