<template>
  <div class="hero is-dark is-fullheight">
    <Nav/>
    <nuxt/> 
    <Footer/>
  </div>
</template>

<script>
import Footer from '~/components/Footer.vue'
import Nav from '~/components/Header.vue'
export default {

  components: {
    Footer,
    Nav
  }
  
}
</script>

