<template>
    <section class="container">
        <div class="columns is-fluid has-text-centered">
            <div class="column is-6 is-offset-3">
                <h1 class="title">
                    Conóceme
                </h1>
            </div>
        </div>

        <div class="columns is-fluid has-text-justified">
            <div class="column">
                <div class="tile is-parent">
                    <article class="tile is-child is-success">
                        <div class="content">
                            <h2 class="title">MI PERFIL</h2>
                                
                            <div class="content">
                            <!-- Content -->
                            Soy una persona proactiva, autodidacta y con ganas de aprender día a día nuevas tecnologías, la innovación es mi lema y por eso en todos los desarrollos que he realizado trato de que el cliente se lleve un producto adecuado a los nuevos tiempos y de alta calidad. 
                            <br>
                            Tengo otras pasiones diferentes a la Programación tales como: Bodyboard, Crossfit, Montain Bike, amo los animales y pasar tiempo con mi familia, amigos y bailar.
                            </div>

                            <br><br>

                            <h2 class="title">MI DEVELOMENT TOOLS</h2>

                            VScode, Linux, Docker, Bitbucket, Gitlab, Github, Git Bash, VueJS, Bulma, Bootstrap, Material Desing.



                        </div>
                        
                    </article>
                </div>
            </div>
            
            <div class="column">
                <div class="tile is-parent">
                <article class="tile is-child is-success">
                    <div class="content">
                        <h2 class="title">SKILLS</h2>
                            
                        <div class="content">
                           
                            <div class="columns">
                                <div class="column">
                                    NodeJS
                                    <progress class="progress is-primary" value="90" max="100">%</progress> 90%
                                </div>
                                <div class="column">
                                    VueJS
                                    <progress class="progress is-primary" value="90" max="100">%</progress> 90%
                                </div>
                            </div>
                            <div class="columns">
                            </div>
                            <div class="columns">
                                <div class="column">
                                    Algolia
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                                <div class="column">
                                    Socket.io 
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                            </div>
                            <div class="columns">
                            </div>
                            <div class="columns">
                                <div class="column">
                                    AWS
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                                <div class="column">
                                    Azure
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                            </div>
                            <div class="columns">
                            </div>
                            <div class="columns">
                                <div class="column">
                                    Socket.io 
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                                <div class="column">
                                    Linux
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                            </div>
                            <div class="columns">
                            </div>
                            <div class="columns">
                                <div class="column">
                                    Nuxt.js
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                                <div class="column">
                                    GIT
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                            </div>
                            <div class="columns">
                            </div>
                            <div class="columns">
                                <div class="column">
                                    PostgreSQL
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                                <div class="column">
                                    MongoDB
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                            </div>
                            <div class="columns">
                            </div>
                            <div class="columns">
                                <div class="column">
                                    Google Cloud Platform
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                                <div class="column">
                                    Python
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                            </div>
                            <div class="columns">
                            </div>
                            <div class="columns">
                                <div class="column">
                                    Gestión de proyectos
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                                <div class="column">
                                    Scrum
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                            </div>
                            <div class="columns">
                            </div>
                            <div class="columns">
                                <div class="column">
                                    SQL
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                                <div class="column">
                                    DevOps
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                            </div>
                            <div class="columns">
                            </div>
                            <div class="columns">
                                <div class="column">
                                    PHP
                                    <progress class="progress is-primary" value="80" max="100">%</progress> 80%
                                </div>
                            </div>
                        </div>

                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
</template>

<style>

</style>
