<template>
  <div class="hero-body">
    <div class="container is-fluid has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
            Full stack Developer & Software Engineer
        </h1>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>

// 
